---
layout: default
---
<div class="home">
	<section class="site-header">
		<h1 class="smallcap"><a class="site-title" href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}</a></h1>
		{% include nav.html %}
		{% include intro.html %}
	</section>
	<section>
		<ul class="post-list">
			{% for post in site.posts %}
			{% if post.categories contains "blog" %}
			<li>
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
		<p>More in my blog <a href="{{ '/blog' | prepend: site.baseurl }}"> >></p>
		<hr>
	</section>
	<section>
		<ul class="post-list">
			{% for post in site.posts limit: 3 %}
			{% if post.categories contains "insta" %}
			<li>
				<time><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></time>
				{{ post.content }}
			</li>
			{% endif %}
			{% endfor %}
		</ul>
		<p>More in my instalife <a href="{{ '/instalife' | prepend: site.baseurl }}"> >></p>
		<hr>
	</section>
</div>
